# Let's perform some operation on the IRIS dataframe! 
In this notebook we will see how to repeat in Pandas the operations with we did in the previous labs on numpy

## Exercise 1 - Download and read the IRIS dataset
The Iris dataset is the dataset we used it already a number of times. 
You can download it from:
https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

Remember: the file has no header, so you need to specify it when you read it.
Since it has no header let's assign the following column names to it:
- sepal_length
- sepal_width
- petal_length
- petal_width
- label

In [1]:
import pandas as pd

pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", 
            header=None, names=["sepal_length", "sepal_width", "petal_length","petal_width", "label"])

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## Exercise 2 - Normalize feature by subtracting means and dividing by standard deviation
For each feature, subtract the mean and divide by the standard deviation.

## Exercise 3 - Compute the distance of each sample from the mean of its class
Compute for each sample the distance of the sample from its class mean.
Then creates a new column in the dataframe, that contains the distance.
Finally, filter the rows with distance greater than 0.5